[submodule "Generation/Sichem"]
	path = generation2/Sichem
	url = https://github.com/rds1983/Sichem.git
[submodule "Testing/TestImages"]
	path = Testing/TestImages
	url = https://github.com/rds1983/DigitalRune-Images
[submodule "Testing/TestOggs"]
	path = Testing/TestOggs
	url = https://github.com/rds1983/TestOggs
